@font-face {
  font-family: "Manrope";
  src: url("./Manrope-VariableFont_wght.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("./Raleway-VariableFont_wght.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Jost";
  src: url("./Jost-VariableFont_wght.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}
