@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    font-family: "Inter", sans-serif;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  span,
  button,
  input {
    font-family: "Inter", sans-serif;
  }
  section {
    margin: 30px auto;
  }
  .m-t-20 {
    margin-top: 20px;
  }
  figure {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .flex {
    display: flex;
  }
  .container {
    max-width: 1220px;
    margin: 0 auto;
  }

  .col{
    flex-direction: column;
  }

  .row{
    flex-direction: row;
  }


  /* attend section */
.attend_container{
    width:1240px;
}  

.attend_container h1{
    color:1f1f1f;
    font-weight: 700;
    font-size: 32px;
    text-align: left;
}

.attend_container .container{
    gap:36px;
    padding:80px;
}

.attend_list_image_container{
    gap:105px;
}



.attend_list_container{
    flex-basis: 50%;
}

.attend_container .attend_list_container ul{
    margin-bottom: 32px;
}

.attend_list_container li{
    position: relative;
    padding-bottom: 24px;
    list-style: none;
    padding-left: 34px;

}

/* .attend_list_container li + li{
    padding-bottom:24px ;

} */

.attend_list_container li:before{
    content: "";
    background: transparent url('../assets/list_icon1.png') no-repeat scroll 0 0 / cover;
    color: #F26334;
    position: absolute;
    top:0%;
    left:0%;
    width:24px;
    height:24px;
    z-index:2;
    
}

.attend_list_container .list_two:before{
    content: "";
    background: transparent url('../assets/list_icon2.png') no-repeat scroll 0 0 / cover;
}

.attend_list_container .list_three:before{
    content: "";
    background: transparent url('../assets/list_icon3.png') no-repeat scroll 0 0 / cover;
}

.attend_list_container .list_four:before{
    content: "";
    background: transparent url('../assets/lsit_icon4.png') no-repeat scroll 0 0 / cover;
}

.attend_list_container .list_five:before{
    content: "";
    background: transparent url('../assets/icon_list5.png') no-repeat scroll 0 0 / cover;
}

.attend_list_container .list_heading {
    font-weight: 700;
    color: #1f1f1f;
    font-size: 16px;

}

.attend_list_container .list_content{
    margin-top: 12px;
    font-weight: 400;
    color:#5C5C5C;
    font-size: 16px;
    line-height: 148%;
}

.list_footer_content_wrapper{
    gap:30px;
}

.list_footer_content_wrapper > span{
    font-weight: 400;
    color:#5C5C5C;
    font-size: 16px;
    line-height: 148%;
}

.list_footer_content_wrapper .list_footer_content2{
    font-weight: 700;
}

.attend_image_container{
    display:flex;
    align-items: center;
    flex-basis: 50%;
}

/* PMTI TRUST SECTION */

.trust_factor_container .container{
    gap:80px;
    padding-top: 80px;
    padding-bottom:80px ;

}

.trust_factor_title_wrapper{
    font-size: 32px;
    font-weight: 700;
    color:#1f1f1f;
    text-align: center;
}

.trust_complogo_wrapper{
    gap:20px;
}

.trust_complogo_wrapper figure{
    flex-basis: 16.66%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.05);
    padding:30px 10px;

}

.trust_complogo_wrapper img{
    width:40%;
    object-fit: contain;

}

/* faq section */

.faq_container .faq_wrapper{
    padding: 80px 0;
}

.faq_wrapper .faq_left_container{
    flex-basis: 30%;
    gap:40px;
}

.faq_wrapper .faq_left_content_wrapper{
    gap:24px;
}

.faq_wrapper span{
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0.2px;
    color:#1f1f1f;
}

.faq_wrapper p{
    font-size: 16px;
    font-weight: 400;
    line-height: 148%;
    color:#5C5C5C;

}

.faq_wrapper .faq_button_wrapper{
    display: flex;
    justify-content: left;
    


}

.faq_button_wrapper a{
    text-decoration: none;
    padding:16px 32px;
    border: 1px solid #5C5C5C;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 700;
    color:#1f1f1f;
    text-align: center;

}

/* Accordion CSS */

.accordion-container {
    flex: 0 0 70%;
    padding: 20px;
    box-sizing: border-box;
}
.accordion {
    width: 100%;
}
.accordion-item {
    border-bottom: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
.accordion-item:last-child {
    border-bottom: none;
}
.accordion-header {
    width: 100%;
    padding: 10px 20px 34px 20px;
    background: #fff;
    border: none;
    text-align: left;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 132%;
}
.icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background-color: #FDE9E2;
    border-radius: 12px;
    padding: 20px;
    transition: background-color 0.3s ease;
}
.accordion-header .icon {
    font-size: 20px;
    color: red;
    transition: color 0.3s ease;
}
.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    background: #fff;
    padding: 0 20px;
    letter-spacing: 0.2px;
    line-height: 148%;
    font-size: 16px;
}
.accordion-content p {
    padding: 15px 0;
    margin: 0;
}
hr {
    margin: 0;
    border: 0;
    border-top: 1px solid #ddd;
}


/* last section */

.last_section_wrapper{
    gap:40px;
    padding: 80px 0;
}

.last_section_wrapper p{
    font-size: 32px;
    font-weight: 700;
    line-height: 132%;
    color:#1f1f1f;
    text-align: center;

}


.last_section_wrapper .last_button_wrapper{
    display: flex;
    justify-content: center;
}

.last_section_wrapper a{
    text-align: center;
    text-decoration: none;
    background-color:#F26334;
    font-size: 16px;
    font-weight: 700;
    color:#fff;
    padding: 16px 109px;
    border-radius: 12px;
    
}








