* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h2 {
  font-family: "bignoodle";
  font-size: 30px;
  font-weight: 500;
  /* letter-spacing: 1px; */
  text-transform: uppercase;
  color: #fff;
  padding-bottom: 12px;
}

.vid-img {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: red;
  & img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
  }
}

.play-button {
  margin-inline: 50%;
  width: 60px;
  height: 60px;
  background-color: #f44336;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.play-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-left: 20px solid white;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
}

.slider::before,
.slider::after {
  font-size: 4rem;
  font-weight: bolder;
  color: red;
}

.slider::before {
  content: "<";
  margin-right: 8px;
}
.slider::after {
  content: ">";
  margin-right: 8px;
}

.vide-sec {
  position: relative;
}
.vid-area-details {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
