.footer-sec {
  background-color: #1a2560;
  padding: 50px 0 0 0;
}

.footer-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.footer-contact-detail p {
  color: #ffffff;
  font-family: var(--font-manrope);
  font-size: 16px;
  font-weight: 300;
  line-height: 1.7;
}
.footer-contact-detail a {
  color: #3dba82;
}
.footer-our-loc p {
  color: #ffffff;
  font-family: var(--font-manrope);
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.footer-our-loc p::after {
  content: "";
  display: block;
  height: 2px;
  width: 30px;
  background-color: #3dba82;
  margin-top: 20px;
}
.singapore-quarter p {
  color: #ffffff;
  font-family: var(--font-manrope);
  font-size: 16px;
  font-weight: 300;
  line-height: 1.7;
  &strong {
    font-weight: 700;
  }
}
.footer-tuv {
  width: 150px;
  height: auto;
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}
.footer-tuv img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer-contact-detail {
  margin-top: 10px;
}
.footer-our-loc {
  margin-top: 20px;
}
.singapore-quarter {
  margin-top: 20px;
}
.footer-heading p {
  color: #ffffff;
  font-family: var(--font-manrope);
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.footer-heading p::after {
  content: "";
  display: block;
  height: 2px;
  width: 30px;
  background-color: #3dba82;
  margin-top: 20px;
}
.foorter-links-ul {
  margin-top: 30px;
}
.foorter-links-ul ul li {
  padding-bottom: 10px;
}
.foorter-links-ul ul li a {
  font-family: var(--font-manrope);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
}
.foorter-links-ul ul li a span {
  color: #ffffff;
  transition: color 0.3s;
}

.footer-fst-col {
  padding: 10px;
}
.footer-services {
  padding: 10px;
}
.tuv-wrapper {
  display: flex;
  justify-content: flex-end;
}

footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.m-t-35 {
  margin-top: 15px;
}
.footer-img-details h3 a {
  color: #ffffff;
  font-family: var(--font-manrope);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.3em;
  box-sizing: border-box;
}
.footer-img-details h3 {
  margin-bottom: 5px;
}
.footer-img-details span {
  color: #bfbfbf;
  font-family: var(--font-manrope);
  font-size: 13px;
  font-weight: 400;
}
.m-t-20 {
  margin-top: 30px;
}
.footer-last-solo-img img {
  height: 100px;
  width: 100px;
  max-width: 640px;
}
.footer-l-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-last-solo-img img {
  object-fit: cover;
  border-radius: 100%;
}
.footer-solo-card {
  gap: 20px;
  position: relative;
}

.foot-read-mre {
  padding-top: 10px;
  display: block;
  color: #3dba82;
  font-family: var(--font-manrope);
  font-weight: 500;
  font-size: 12px;
}

.footer-last-solo-img {
  margin-left: 4px;
}

.footer-solo-card:hover.footer-solo-card::before {
  content: "";
  height: 135px;
  width: 4px;
  background-color: #3dba82;
  display: block;
  position: absolute;
}

.footer-solo-card:hover {
  cursor: pointer;
}

.foorter-links-ul ul li a span:hover {
  color: #3dba82;
}

.copy-rite-details h2 {
  color: #ffffff;
  font-family: var(--font-manrope);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.copy-rite {
  padding: 5px 0;
  margin-top: 35px;
  background-color: #319669;
}
.copy-rite-details {
  width: 820px;
  display: flex;
  justify-content: space-between;
  margin: 0 0 0 auto;
}

.copy-rite-details p a {
  color: #ffffff;
  font-family: var(--font-manrope);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
