* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style-type: none;
}
@font-face {
  font-family: inter;
  src: url("../assets/fonts/Inter-VariableFont_opsz\,wght.ttf")
    format("truetype");
}
@font-face {
  font-family: helvatica;
  src: url("../assets/fonts/HelveticaNeueBlack.otf") format("truetype");
}

body {
  font-family: "Inter", sans-serif;
  color: #888888;
  background-color: #fff;
  font-size: 16px;
  font-size: 1.06667rem;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
.flex-spc-btwn {
  display: flex;
  justify-content: space-between;
}
.flex {
  display: flex;
}
.col {
  display: flex;
  flex-direction: column;
}
img {
  width: 100%;
  height: 100%;
}
.h2-heading {
  font-size: 48px;
  line-height: 55px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: #202020;
  display: inline-block;
  padding-bottom: 20px;
  margin-top: 10px;
}
.p-content {
  font-size: 16px;
  color: rgb(136, 136, 136);
  margin-bottom: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 28.8px;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}
.elito-logo a {
  display: flex;
  align-items: center;
}
.elito-logo a span {
  font-size: 45px;
  font-weight: 700;

  color: #202020;

  cursor: pointer;
  font-family: "Inter", sans-serif;
}
.elito-logo {
  display: flex;
}
header {
  align-items: center;
}
.elito-logo a {
  display: flex;
  gap: 10px;
}
header nav ul li a {
  color: rgb(32, 32, 32);
  cursor: pointer;
  display: block;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  padding: 35px 18px;
  text-transform: capitalize;
  position: relative;
}
header nav ul li a::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 95%;
  height: 4px;
  background: #59c378;
  transition: all 0.1s;
  border-radius: 3px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
}
header nav ul li:first-of-type a::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 95%;
  height: 4px;
  background: #59c378;
  transition: all 0.1s;
  border-radius: 3px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
header nav ul li a:hover::after {
  visibility: visible;
}
.active {
  position: relative;
}
.active::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 95%;
  height: 4px;
  background: #59c378;
  transition: all 0.1s;
  border-radius: 3px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: visible !important;
}

header nav ul {
  display: flex;
}
.resume-btn a {
  background-color: rgb(89, 195, 120);
  border-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  border-radius: 40px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  padding: 15px 20px;
  padding-right: 50px;
  position: relative;
}
.global-btn {
  background-color: rgb(89, 195, 120);
  border-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  border-radius: 40px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-transform: capitalize;
  padding: 15px 35px;
  padding-right: 65px;
  display: inline-block;
  position: relative;
}
.resume-btn a::after {
  content: "\f063";
  font-family: "Font Awesome 6 Free";
  font-size: 14px;
  top: 38%;
  right: 20px;
  color: #fff;
  font-weight: 600;
  position: absolute;
}
.hire-me::after {
  content: "\f063";
  font-family: "Font Awesome 6 Free";
  font-size: 14px;
  line-height: 14px;
  top: 38%;
  right: 30px;
  color: #fff;
  font-weight: 600;
  position: absolute;
  transform: rotate(-90deg);
}
.resume-btn a:hover {
  background: #46bc69;
  color: #fff;
}
.banner-wrapper {
  padding-top: 115px;
  padding-bottom: 140px;
}
.website-wrapper {
  background: linear-gradient(
    180deg,
    rgba(195, 98, 98, 0.15),
    rgba(255, 255, 255, 0)
  );
}
.pricing-plan {
  background: linear-gradient(
    180deg,
    rgba(195, 98, 98, 0.15),
    rgba(255, 255, 255, 0)
  );
}
.work-experience {
  background: linear-gradient(
    180deg,
    rgba(195, 98, 98, 0.15),
    rgb(79 189 99 / 31%)
  );
}
.banner-left {
  flex: 0 0 50%;
}
.banner-right {
  flex: 0 0 50%;
  justify-content: flex-end;
  display: flex;
  justify-content: flex-end;
}
.left-content h2 {
  color: #202020;
  font-size: 90px;
  text-transform: capitalize;
  font-weight: 700;
  line-height: 118%;
  margin-bottom: 10px;
  font-family: "Inter", sans-serif;
}
.left-content h2 span {
  display: block;
  font-size: 60px;
  color: #b3a206;
}
.left-content h5 {
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: #59c378;
  margin-bottom: 20px;
  font-family: "Inter", sans-serif;
}
.left-content p {
  color: #585858;
  font-size: 19px;
  line-height: 33px;
  margin-bottom: 30px;
}

.banner-right-image-holder figure {
  border-radius: 50%;
}
.banner-right-image-holder figure img {
  border-radius: 50%;
}

.icon-one {
  left: -6px;
  top: 109px;
}
.floating-icon {
  position: absolute;
  width: 110px;
  height: 110px;
  padding: 20px;
  background: #fff;
  transition: transform 0.3s ease-out;
  border-radius: 25px;
  box-shadow: 0px 2px 10px rgba(14, 29, 44, 0.15);
}

.banner-right-image-holder {
  position: relative;
}

.icon-two {
  top: 110px;
  left: 468px;
}
.icon-shield span svg {
  width: 50px;
  height: 50.4px;
}
.icon-data span {
  font-size: 25px;
  color: #202020;
  font-weight: 600;
  display: block;
  line-height: 16px;
  font-family: Helvetica, sans-serif;
}

.floating-icon-withdata {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px;
  background: #fff;
  border-radius: 40px;
  box-shadow: 0px 2px 10px rgba(14, 29, 44, 0.15);
  transition: transform 0.5s ease-out;
}
.icon-three {
  bottom: 40px;
}
.icon-four {
  bottom: 32px;
  left: 437px;
}
.banner-left {
  display: flex;
  align-items: center;
}

/* my advantage section */
.my-advantage {
  padding: 120px 0;
  background: linear-gradient(
    180deg,
    rgba(195, 98, 98, 0.15),
    rgba(255, 255, 255, 0)
  );
}
.popular-services {
  padding: 120px 0;
  background: linear-gradient(
    180deg,
    rgba(108, 83, 196, 0.15),
    rgba(255, 255, 255, 0)
  );
}

.my-advantage-left-area {
  flex: 0 0 40%;
  position: relative;
}
.my-advantage-right-area {
  flex: 0 0 60%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.yrs-of-exp h2 {
  font-size: 140px;
  font-weight: 700;
  color: #dfca08;
  font-family: "Inter", sans-serif;
  line-height: 1.2;
  margin-bottom: 8px;
}
.yrs-of-exp span {
  font-size: 18px;
  color: #585858;
}
.client-satisfaction span {
  line-height: 16px;
  font-family: Helvetica, sans-serif;
  color: #59c378;
  font-size: 45px;
}
.client-satisfaction p {
  color: rgb(88, 88, 88);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28.8px;
  min-width: 135px;
  flex-basis: 20%;
}

.yrs-of-exp {
  background: linear-gradient(180deg, #fff 0%, #f8f8f8 100%);
  box-shadow: 0px 2px 10px rgba(14, 29, 44, 0.15);
  border-radius: 10px;
  padding: 50px;
  text-align: center;
  max-width: 350px;
  padding-bottom: 180px;
  margin-top: 75px;
  position: relative;
}

.client-satisfaction {
  border-radius: 12px;
  box-shadow: 0px 2px 10px rgba(14, 29, 44, 0.15);
  padding: 20px;
  z-index: 1;
  max-width: 300px;
  display: flex;
  align-items: center;
  background: #fff;
  position: absolute;
  gap: 10px;
  bottom: 185px;

  left: 180px;
}
.shape1 {
  position: absolute;
  left: -104px;
  bottom: 261px;
  z-index: -1;
}
.shape2 {
  position: absolute;
  z-index: -1;

  bottom: 0;
  right: -98px;
  bottom: -111px;
}
.my-adv-rite-holder {
  max-width: 655px;
  margin-left: auto;
}
.my-adv-content h2 {
  font-size: 48px;
  color: #202020;
  margin-bottom: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  line-height: 1.2;
}
.my-adv-content p {
  font-size: 16px;
  color: rgb(136, 136, 136);
  margin-bottom: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 28.8px;
}

.my-skils-solo-card h3 {
  font-weight: 700;
  font-size: 35px;
  line-height: 42px;
  color: #202020;
  font-family: "Inter", sans-serif;
  margin-bottom: 8px;
}
.my-skils-solo-card p {
  margin-bottom: 0;
  color: #dfca08;
  font-size: 16px;
  line-height: 1.8em;
  font-family: "Inter", sans-serif;
}

.grid {
  text-align: center;
  background: linear-gradient(
    180deg,
    rgba(225, 230, 0, 0.6) 0%,
    rgba(255, 255, 255, 0.6) 67.59%
  );
  flex-basis: 28.33%;
  margin: 0 15px;
  border-radius: 12px;
  margin-bottom: 30px;
}

.my-skils-solo-card {
  padding: 40px;
  background: #fff;
  margin: 3px 3px 0 3px;
  text-align: center;
  border-radius: 12px;
}
.my-adv-skills-holder {
  margin-top: 50px;
}
.my-adv-skills-holder .grid:first-of-type {
  margin-left: 0;
}

.skill-gr2 {
  background: linear-gradient(
    180deg,
    rgba(89, 195, 120, 0.6) 0%,
    rgba(255, 255, 255, 0.6) 67.59%
  );
}
.skill-gr4 {
  background: linear-gradient(
    180deg,
    rgba(255, 154, 0, 0.6) 0%,
    rgba(255, 255, 255, 0.6) 67.59%
  );
}

.skill-gr2 .my-skils-solo-card p {
  color: #59c378;
}
.skill-gr3 .my-skils-solo-card p {
  color: #dd584f;
}
.skill-gr4 .my-skils-solo-card p {
  color: #ff9a00;
}
.skill-gr5 .my-skils-solo-card p {
  color: #00a9ff;
}
.skill-gr6 .my-skils-solo-card p {
  color: #ad00ff;
}
.skill-gr3 {
  background: linear-gradient(
    180deg,
    rgba(221, 88, 79, 0.6) 0%,
    rgba(255, 255, 255, 0.6) 67.59%
  );
}
.skill-gr5 {
  background: linear-gradient(
    180deg,
    rgba(0, 169, 255, 0.6) 0%,
    rgba(255, 255, 255, 0.6) 67.59%
  );
}
.skill-gr6 {
  background: linear-gradient(
    180deg,
    rgba(158, 0, 255, 0.6) 0%,
    rgba(255, 255, 255, 0.6) 67.59%
  );
}
.popular-svc-content {
  margin: 0 auto;
  max-width: 550px;
  margin-bottom: 60px;
}
.popular-service-holder {
  text-align: center;
}
.popular-svc-btns {
  margin-bottom: 65px;
}
.popular-svc-btns ul {
  justify-content: center;
}
.popular-svc-btns ul li a {
  width: 250px;
  height: 65px;
  background: transparent;
  text-align: center;
  margin-right: 30px;
  border-radius: 38px;
  text-align: center;
  line-height: 65px;
  padding: 0;
  color: #202020;
  border: 2px solid #dddbdb;
  font-weight: 700;
  font-size: 22px;
  cursor: pointer;
  border: 2px solid #59c378;
}
.popular-svc-btns ul li:nth-child(2) a {
  background: #59c378 !important;
}

.pop-solo-card {
  background: #fff;
  border: 2px solid #e7e2e2;
  border-radius: 12px;
  text-align: center;
  padding: 50px 40px;
  margin-bottom: 30px;
}
.pop-solo-icon {
  width: 120px;
  height: 120px;
  line-height: 120px;
  background: #fff;
  margin: 0 auto;
  border-radius: 50%;
  transition: all 0.3s;
  box-shadow: 0px 2px 10px rgba(14, 29, 44, 0.15);
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.pop-solo-icon span {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pop-solo-icon span svg {
  width: 50px;
  height: 50.4px;
}

.pop-solo-card-content h2 {
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: #202020;
  margin-bottom: 20px;
}
.pop-solo-card-content p {
  color: #888888;
  margin: 25px 0;
  font-size: 16px;
  line-height: 1.8em;
}
.pop-solo-card-content a {
  color: #202020;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  position: relative;
  color: initial;
  transition: color 0.3s ease-in-out;
}
.pop-solo-card-content a span {
  position: absolute;
  left: -31px;
  top: 2px;
  transition: transform 0.3s ease-in-out;
}
.pop-solo-card-content a span:hover {
  transform: translateX(5px);
  color: #dfca08;
}
.pop-solo-card-content a span:hover a {
  color: #dfca08;
}
.pop-solo-card-content a:hover {
  color: #dfca08;
}
.single-card-pop {
  padding-inline: 12px;
}
.pop-solo-card:hover .pop-solo-icon {
  background-color: #59c378;
}

/* work exp */

.exp-link {
  position: relative;
  text-align: right;
}
.exp-link::before {
  position: absolute;
  width: 25px;
  height: 25px;
  left: -5px;
  top: 1px;
  background-image: url("assets/images/arrow.svg");
}
.exp-date {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #202020;
  flex-basis: 20%;
  align-items: center;
}
.exp-info {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #202020;
  flex-basis: 30%;
}
.exp-location {
  display: block;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  margin-top: 10px;
  color: #dd584f;
}
.exp-link a {
  color: #202020;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  padding-left: 30px;
  position: relative;
  display: inline-block;
  position: relative;
  color: initial;
  transition: color 0.3s ease-in-out;
}
.exp-link a:hover {
  color: #dfca08;
}
.exp-card a span {
  position: absolute;
  left: -5px;
  transition: transform 0.3s ease-in-out;
}
.exp-card a span:hover {
  transform: translateX(5px);
  color: #dfca08;
}
.exp-card {
  padding: 20px 70px;
  box-shadow: 0px 2px 10px rgba(14, 29, 44, 0.15);
  background: #fff;
  border-radius: 8px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: space-between;
  border: 1px solid transparent;
}
.exp-card:hover {
  border-color: #494949;
}
.exp-heading {
  align-items: center;
  margin: 0 auto;
  margin-bottom: 60px;
  max-width: 550px;
}
.exp-heading p {
  text-align: center;
}
.exp-container {
  padding-block: 120px;
}
.pricing-plan {
  padding-block: 120px;
}
.remote {
  color: #727272;
}

/* text slider */
.text-slider-left {
  flex: 0 0 50%;
  padding-inline: 11.25px;
  z-index: 10;
}
.text-slider-right {
  flex: 0 0 50%;
  max-width: 50%;
  padding-inline: 11.25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text-slider {
  padding: 120px 0;
  position: relative;
}

.main-img {
  width: 250px;
  height: 250px;
}
.main-img img {
  border-radius: 50%;
  transition: opacity 0.5s ease-in-out;
}
.inner-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 50%;
  width: 328px;
  height: 328px;
}
.outer-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 50%;

  width: 400px;
  height: 400px;
}
.outer-main {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  width: 472px;
  height: 470px;
  position: relative;
}

.text-slider-floating-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.text-slider-floating-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.fltng-img1 {
  position: absolute;
  top: 67px;
  right: 342px;
}

.fltng-img2 {
  position: absolute;
  top: 85px;
  right: -19px;
}
.fltng-img3 {
  position: absolute;
  width: 60px;
  height: 60px;
  right: 17px;
  bottom: 132px;
}
.fltng-img4 {
  position: absolute;
  width: 60px;
  height: 60px;
  bottom: 0;
  right: 184px;
  bottom: 7px;
}
.fltng-img5 {
  position: absolute;
  bottom: 114px;
  left: -18px;
}
.text-slider {
  background: linear-gradient(
    180deg,
    rgba(195, 98, 98, 0.15),
    rgba(255, 255, 255, 0)
  );
}

.left-shape {
  position: absolute;
  left: 0;
  top: 0;
  width: 40%;
  height: 110%;
  background: #e9e9e9;
  top: -70px;
  z-index: 9;
  -webkit-clip-path: polygon(0 0, 100% 0, 55% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 55% 100%, 0% 100%);
}
.slider-all-content {
  position: relative;
}

.slider-all-content h4 {
  font-weight: 500;
  font-size: 32px;
  line-height: 52px;
  color: #202020;
  margin-bottom: 20px;
  font-family: "Inter", sans-serif;
}
.slider-all-content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #888888;
  margin-bottom: 16px;
}
.slider-all-content h3 {
  font-weight: 600;
  font-size: 26px;
  line-height: 31px;
  color: #202020;
  position: relative;
}
.slider-all-content h3 span {
  margin-left: 10px;
  font-size: 14px;
  color: #888888;
  display: inline-block;
}

.prev-arrow {
  position: absolute;

  bottom: -4px;
  right: 58px;
  width: 50px;
  height: 50px;
  line-height: 65px;
  border: 1px solid #404040;
  border-radius: 50%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 3s ease-in-out;
}
.prev-arrow,
.next-arrow i {
  font-size: 15px;
  color: #585858;
  line-height: 1;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
}

.next-arrow {
  position: absolute;

  bottom: -4px;
  right: 0;
  width: 50px;
  height: 50px;
  line-height: 65px;
  border: 1px solid #404040;
  border-radius: 50%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 3s ease-in-out;
}
.next-arrow:hover {
  background-color: #59c378;
  border-color: #59c378;
}
.prev-arrow:hover {
  background-color: #59c378;
  border-color: #59c378;
}
.prev-arrow:hover i {
  color: #fff;
}
.next-arrow:hover i {
  color: #fff;
}

.right-shape {
  position: absolute;
  right: 0px;
  bottom: 0;
  z-index: -1;
}

/* recent works */

.project-title {
  font-size: 25px;
  font-weight: 600;
  line-height: 35px;
  text-align: left;
  color: #202020;
  transition: color 0.3s ease-in-out;
}
.recent-card span {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #888888;
}
.recent-card {
  flex-basis: 33.333%;
}
.project-title:hover {
  color: #59c378;
}
.recent-img {
  overflow: hidden;
}
.recent-img img {
  transition: transform 0.3s ease;
}
.recent-card:hover .recent-img img {
  transform: scale(1.2);
}
.recent-heading {
  margin-bottom: 60px;
  max-width: 400px;
}

.recent-slider {
  gap: 30px;
}
.project-text {
  padding-top: 30px;
}
.recent-works {
  position: relative;
  padding-block: 120px;
  background: linear-gradient(
    180deg,
    rgba(222, 232, 31, 0),
    rgba(210, 203, 233, 0.15)
  );

  z-index: 1;
}
.recent-works .left-line {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}
.recent-works .right-line {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.self-growth-icon-holder {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px dashed #dfca08;
  padding: 10px;
}
.self-growth-icon-holder svg {
  width: 55px;
  height: 55px;
}
.recent-container {
  display: flex;
  justify-content: space-between;
}

.self-growth-icon {
  background: #faf8e0;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.recent-img {
  width: 412.5px;
  height: 412.5px;
}
.recent-img img {
  object-fit: cover;
}

.slick-carousel-1 .slick-list {
  padding-bottom: 90px;
}

.sld-btn-2-prev {
  right: 680px !important;
  border: 1px solid #59c378 !important;
  color: #59c378;
}
.sld-btn-2-prev i {
  color: #59c378 !important;
}
.sld-btn-2-next {
  right: 620px !important;
  border: 1px solid #59c378 !important;
}
.sld-btn-2-next:hover i {
  color: #fff !important;
}
.sld-btn-2-prev:hover i {
  color: #fff !important;
}
.sld-btn-2-next i {
  color: #59c378 !important;
}

/* pricing plan */

.pricing-plan-content {
  text-align: center;
}

.pricing-thumb {
  display: inline-block;
  padding: 3px 30px 5px;
  background: #59c378;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.pricing-thumb span {
  text-transform: uppercase;
  color: #fff;
}
.pricing-plan-pricetext h2 {
  color: #202020;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  font-weight: 700;
}
.pricing-plan-pricetext h2 span {
  font-weight: 500;
  color: #888888;
  font-size: 16px;
  text-transform: uppercase;
  display: inline-block;
  margin-left: 2px;
}
.pricing-plan-pricetext p {
  padding-bottom: 30px;
  max-width: 295px;
  margin: 0 auto;
  border-bottom: 1px solid #ebebeb;
  color: #888888;
}
.pricing-plan-bottom {
  padding: 40px;
  padding-top: 35px;
  text-align: center;
}

.pricingprice-text ul li {
  color: #888888;
  padding-bottom: 15px;
}

.pricingprice-text a {
  font-size: 16px;
  color: #59c378;
  font-weight: 500;
  display: inline-block;
  margin-top: 20px;
  padding: 10px 25px;
  border: 1px solid #ebebeb;
}
.pricingprice-text a:hover {
  background: #59c378;
  color: #fff;
}
.pricing-plan-solo-card {
  flex: 0 0 auto;
  width: 33.33%;
  text-align: center;
}
.pricing-plan-solo-card {
  background: #fff;
  -webkit-box-shadow: 0px 2px 10px rgba(14, 29, 44, 0.15);
  box-shadow: 0px 2px 10px rgba(14, 29, 44, 0.15);
  margin-inline: 11.25px;
}
.pricing-plan-holder {
  justify-content: center;
}

.pricing-plan-pricetext {
  margin-top: 30px;
}

/* latest news */
.latest-news {
  width: 413px;
  height: 268px;
}

.latest-news-date {
  color: #fff !important;
  padding: 5px 10px;
  background: #3c3c3c;
  display: inline-block;
  font-size: 14px !important;
}

.lt-title {
  margin-top: 15px !important;
  margin-bottom: 20px;
}

.post-details {
  text-align: start !important;
}
.post-details a {
  margin-left: 0;
  padding-left: 0;
  display: flex;
  align-items: center;
  gap: 20px;
}

.post-details a:hover span {
  transform: translateX(5px);
  color: #dfca08;
}
.post-details a {
  transition: color 0.3s ease-in-out;
}
.post-details a span {
  transition: color 0.3s ease-in-out;
}

.recent-card.lt-news .latest-news img {
  transform: none;
}

.sld-btn-3-prev {
  top: 74px;
  left: -81px;
}
.sld-btn-3-next {
  top: 74px;
  right: -65px;
}

.sld-btn-3-next i {
  transform: rotate(325deg);
  font-size: 20px;
}
.sld-btn-3-next {
  width: 60px;
  height: 60px;
  box-shadow: 0 2px 10px rgba(14, 29, 44, 0.15);
  border: 0;
}
.sld-btn-3-prev {
  width: 60px;
  height: 60px;
  box-shadow: 0 2px 10px rgba(14, 29, 44, 0.15);
  border: 0;
}
.sld-btn-3-prev i {
  transform: rotate(325deg);
  font-size: 20px;
}

.send-me-btn a {
  color: #fff;
  display: inline-block;
  font-weight: 600;
  padding: 15px 35px;
  padding-right: 65px;
  border: 0;
  text-transform: capitalize;
  position: relative;
  font-size: 1.06667rem;
  background: #202020;
  border-radius: 5px;
}

.send-me-msg-content {
  flex: 0 0 auto;
  width: 50%;
  padding-left: 100px;
}

.send-me-btn {
  flex: 0 0 auto;
  width: 50%;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.send-me-msg-text-holder {
  background: #ff4155;
  padding: 80px 165px;
  padding-left: 0;
  width: 1408px;
  background-image: url("/assets/images/shape\ \(1\).png");
  position: absolute;
  /* left: 0; */
}
.send-me-msg-holder {
  position: relative;
}
.send-me-msg-content h2 {
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  color: #fff;
}
.send-me-btn a::after {
  content: "\f063";
  font-family: "Font Awesome 6 Free";
  font-size: 14px;
  line-height: 14px;
  top: 38%;
  right: 30px;
  color: #fff;
  font-weight: 600;
  position: absolute;
  transform: rotate(-90deg);
}

/* footer section */

.footer-col-1 {
  flex: 0 0 auto;
  width: 33.333333333%;
  padding-inline: 11.25;
}
.footer-col-2 {
  flex: 0 0 auto;
  width: 16.6666666667%;
  padding-inline: 11.25;
}
.footer-col-3 {
  flex: 0 0 auto;
  width: 25%;
  padding-inline: 11.25;
}
.footer-col-4 {
  flex: 0 0 auto;
  width: 25%;
  padding-inline: 11.25;
}

.footer-sec {
  background-color: green;
  margin-top: 267px;
}
.footer-logo {
  margin-bottom: 30px;
}

.footer-logo a img {
  width: 63px;
  height: 63px;
}
.footer-logo a {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 45px;
  font-weight: 700;
  align-items: center;
  color: #fff;
  font-family: "Inter", sans-serif;
}

.shadow-shape {
  position: absolute;
  top: -140%;
  right: 0;
  z-index: -1;
}
.footer-holder {
  position: relative;
  padding-top: 170px;
}

.footer-col-1 p {
  line-height: 1.9em;
  margin-bottom: 0.8em;
  color: #fff;
  font-size: 16px;
}

.social-icons ul {
  display: flex;
  gap: 15px;
  padding-top: 15px;
}
.social-icons ul a {
  transition: all 0.2s;
}
.social-icons ul a i {
  font-size: 16px;
}
.footer-col-1 {
  position: relative;
  padding-right: 75px;
}

.social-icons::after {
  content: "";
  background: rgba(255, 255, 255, 0.05);
  width: 1px;
  height: 100%;
  position: absolute;
  right: 35px;
  top: 0;
}

.footer-col-2 h3 {
  font-size: 1.6rem;
  color: #fff;
  padding-bottom: 0.4em;
  text-transform: capitalize;
  position: relative;
  font-weight: 600;
  margin-bottom: 30px;
}
.footer-col-2 ul li {
  position: relative;
  padding-left: 15px;
  color: #fff;
  margin-top: 17px;
}
.footer-col-2 ul li a {
  color: #fff;
}
.footer-col-2 ul li:first-of-type {
  margin-top: 0px;
}
.footer-col-2 ul li::before {
  content: "";
  background-color: #fff;
  width: 5px;
  height: 1px;
  position: absolute;
  left: 0;
  top: 9px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer-col-4 p {
  color: #fff;
  font-size: 16px;
  line-height: 1.8em;
  font-weight: 400;
  margin-bottom: 1rem;
}
