.h4-paragraph-sec {
  font-size: 1.5rem;
  font-weight: 800;
  padding-bottom: 24px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0;
}

p-top-4 {
  padding-top: 4rem;
}

m-top-6 {
  margin-top: 6rem;
}
