* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: BaiJamjuree;
  src: url("./assets/fonts/BaiJamjuree.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "BaiJamjuree", sans-serif;
}

a,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
div,
body,
input,
textarea,
figure {
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  line-height: 1.5;
}

.container {
  max-width: 1400px;
  padding-left: 17px;
  padding-right: 17px;
  margin: 0 auto;
}

.flex {
  display: flex;
}
img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

section {
  margin: 80px 0;
}
.banner-holder {
  justify-content: space-between;
  border-radius: 5px;
}

.banner-1 figure {
  width: 926.6px;
  height: 432.56;
  border-radius: 5px;
}
.banner-2 {
  height: 433.4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
}
.banner-2 figure img,
.banner-1 figure img {
  border-radius: 5px;
}
.banner-2 figure {
  width: 435px;
  height: 214.09px;
  border-radius: 5px;
}
.slides-holder {
  display: flex;
  justify-content: space-around;
}

.slides-holder .solo-slide a figure {
  margin: 0 auto 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100px;
  width: 100px;
  position: relative;
  background: #f1f5f6;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}

.slides-holder .solo-slide a figure::before {
  content: "";
  position: absolute;
  top: 15%;
  left: 13%;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 6px white;
  pointer-events: none;
  border: 2px solid #3644ad;
  transition: all 0.1s ease-in-out;
  overflow: hidden;
  visibility: hidden;
}

.slides-holder .solo-slide a figure:hover::before {
  width: 95%;
  height: 95%;
  top: 0;
  right: 0;
  left: 0;
  border-radius: 50%;
  visibility: visible;
  overflow: hidden;
  z-index: 10;
}

.slides-holder .solo-slide a p {
  text-align: center;
  font-weight: 600;
  line-height: 1.7;
  font-size: 14px;
  color: #212529;
}

.product-offers {
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  margin-bottom: 5px;
}

.prod-offer-details span p {
  display: block;
}
.prod-offer-details {
  justify-content: center;
  align-items: center;
}
.prod-offer-details h2 {
  font-size: 16px;
  color: #dd3842;
  margin: 0 5px;
}

.prod-offer-details span:first-of-type {
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-offers a {
  background: #3644ad;
  color: #fff;
  padding: 6px 10px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}
.product-offers a:hover {
  background: black;
}

.products-section {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f1f5f6;
}

.product-banner {
  flex: 0 0 calc(33.33% - 5px);
  margin-right: 5px;
  position: relative;
}
.product-banner figure {
  width: 449px;
  height: 522px;
}

.infotech-products-holder {
  flex: 0 0 calc(66.67% + 5px);
  background-color: #f1f5f6;
  /* margin: 0 -2.5px; */
  gap: 6px;
}
.infotech-solo-product figure {
  width: 185px;
  height: 185px;
}
.infotech-solo-product p {
  margin-top: 12px;
  font-weight: 600;
  font-size: 14px;
  color: #434648;
  margin-block: unset !important;
  line-height: 1.7;
}
.stars {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.stars span:last-of-type {
  color: #999;
  font-size: 13px;
}
.stars span svg {
  height: 15px;
  width: 15px;
}

.prod-price strike,
span {
  display: block;
}
.prod-price strike {
  color: #dd3842;
  font-weight: 600;
  font-size: 18px;
}
.prod-price span {
  color: #3644ad;
  font-weight: 600;
  font-size: 18px;
}
.prod-buy-now {
  text-transform: capitalize;
  height: 40px;
  line-height: 40px;
  background-color: #3644ad;
  border: none;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  font-size: 13px;
  display: block;
  text-align: center;
  margin: 0 auto;
  transition: 0.3s all ease;
}
.prod-buy-now:hover {
  background: black;
}
.m-top-18 {
  margin-top: 18px;
}
.infotech-solo-product {
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  padding: 10px 20px 20px;
  gap: 20px;
  text-align: center;
  align-items: center;
  position: relative;
}
.infotech-solo-product:hover {
  box-shadow: 0 0 5px 0 rgb(54 68 173);
}
.discount-prod {
  position: absolute;
  line-height: 28px;
  background: #dd3842;
  padding: 0 10px;
  border-radius: 5px;
  color: #fff;
  font-weight: 700;
  width: max-content !important;
  z-index: 1;
}
.prod-img-holder {
  display: flex;
  justify-content: center;
}

/*slider*/
.col33 {
  flex-basis: 33.33%;
}
.flex_col {
  display: flex;
  flex-direction: column;
}

.review_wrapper {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
}

.review_excellent {
  font-family: "Open Sans";
  line-height: 1.4em;
  font-size: 24px;
  display: block;
  margin-bottom: 6px;
}

.review_star_wrapper {
  margin: 0 0 5px;
  margin-top: 10px;
}
.review_l_wrapper {
  flex: 0 0 25%;
}

.review_star {
  width: 30px;
  height: 30px;
}
.review_star_wrapper img {
  width: 17px;
  height: 17px;
}
.review_text {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  font-family: "BaiJamjuree", sans-serif;
}

.google_logo {
  width: 110px;
  height: 35px;
}

.rating_container {
  flex-grow: 1;
  width: 80%;

  padding-top: 5px;
}

.rating_outer_wrapper {
  padding: 0 8px !important;
}

.rating_inner_wrapper {
  padding: 20px;
  border: #bfbfbf 0.5px solid;
  border-radius: 1%;
  background: #f1f1f1;
}

.rating_pp_wrapper {
  padding: 0 15px 0 0;
}

.rating_pp {
  width: 40px;
  height: 40px;
}

.rating_name {
  margin: 0 0 2px;
  padding: 0 25px 0 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 16px;
  overflow: hidden;
  white-space: nowrap;
  font-family: "BaiJamjuree", sans-serif;
  /* text-overflow: ellipsis; */
  color: #3644ad;
}

.rating_date {
  line-height: 1.5;
  font-weight: 400;
  color: #000000;
  font-family: "BaiJamjuree", sans-serif;

  font-size: 16px !important;
}
.g-rviews {
  font-size: 16px;
  display: block;
  line-height: 1.5;
  font-family: "BaiJamjuree", sans-serif;
  margin-top: 10px;
}

.rating_header_wrapper {
  position: relative;
}

.rating_header_wrapper::after {
  background-image: url(https://cdn.trustindex.io/assets/platform/Google/icon.svg);
  background-size: 100% 100%;
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0px;
  background-repeat: no-repeat;
  background-position: center center;
}

.rating_star_wrapper {
  margin: 15px 0 8px;
  width: 240.33px;
}

.rating_star {
  width: 17px;
  height: 17px;
}

.rating_paragraph {
  font-family: "Open Sans";
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-height: 1.7;
  font-family: "BaiJamjuree", sans-serif;
  font-size: 15px;
  text-align: left;
  transition: height 0.5s;
  font-style: normal;
  -webkit-line-clamp: 4;
  overflow: hidden;
  padding-right: 0;
  font-size: 16px;

  height: 112px;
  overflow: hidden;
}

.rating_readmore_wrapper {
  padding: 5px 0 0;
}

.rating_readmore {
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  font-size: 13.5px;
  color: #3644ad;
  line-height: 1.5;
  font-size: 16px;

  text-decoration: underline;
  transition: color 300ms ease-out;
  cursor: pointer;
  font-family: "BaiJamjuree", sans-serif;
}

.slider_list > div {
  margin-left: 30px;
  margin-right: 30px;
}

.modern-slider {
  position: relative;
}

.slick-slide {
  float: left;
  padding: 0;
}

/* ==== Slider Style === */

.slick-list {
  padding: 5px !important;
}
.slider_list .next-arrow::before {
  content: "\f105";
}

.slider_list .next-arrow {
  position: absolute;
  top: 50%;
  right: 50px;
  width: 45px;
  height: 45px;
  /* background:rgba(0,0,0,.50); */
  background: #f1f1f1;
  border-radius: 50%;
  border: 0 none;
  margin-top: 145px;
  text-align: center;
  cursor: pointer;
  font: 20px/45px FontAwesome;
  color: #007aff;
  z-index: 5;
}
.slider_list .prev-arrow::before {
  content: "\f104";
}
.slick-dots li button:before {
  font-family: slick;
  font-size: 9px !important;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 20px;
  content: "•";
  text-align: center;
  opacity: 0.25;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  width: 6px !important;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slider_list .prev-arrow {
  position: absolute;
  top: 50%;
  left: 50px;
  width: 45px;
  height: 45px;
  background: #f1f1f1;
  border: 0 none;
  margin-top: 145px;
  text-align: center;
  font: 20px/45px FontAwesome;
  color: #007aff;
  z-index: 5;
  cursor: pointer;
  border-radius: 50%;
}

/* .slick-slide > div{
  padding: 20px 0;
} */
.review_excellent_wrapper figure {
  width: 90px;
  height: auto;

  margin-right: 20px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.review_excellent_wrapper figure img {
  object-fit: contain;
  border-radius: 5px;
}
