* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
span,
button,
input {
  font-family: "Inter", sans-serif;
}
section {
  margin: 30px 0;
}
.m-t-20 {
  margin-top: 20px;
}
figure {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.flex {
  display: flex;
}
.container {
  max-width: 1220px;
  margin: 0 auto;
}
.vertical-line {
  border-left: 2px solid black;
  height: 120px;
  margin: 0 10px;
}
.headear-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headear-holder figure {
  width: 212px;
  height: 127px;
}
.headear-holder figure img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.header-tittle {
  display: flex;
  flex-direction: column;
}

.main-title {
  font-size: 40px;
  font-weight: bold;
  color: #1f1f1f;
  -webkit-text-stroke: 2px black;
  text-transform: uppercase;
  line-height: 41.6px;
  margin-bottom: 16px;
}
.sub-title {
  font-weight: bolder;
  color: #f26334;
  font-size: 32px;
  line-height: 32px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.header-tittle span {
  font-size: 16px;
  color: #1f1f1f;
  -webkit-text-stroke: black;
  line-height: 23.68px;

  display: block;
}

/* banner section */
.first-banner {
  background-color: #1f1f1f;
  padding: 50px 0;
}
.banner-titles {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.banner-titles h2:first-of-type {
  font-size: 40px;
  font-weight: bold;
  line-height: 40px;
  color: #f26334;
  -webkit-text-stroke: black;
}
.banner-titles h2:last-of-type {
  font-size: 40px;
  font-weight: bold;
  line-height: 40px;
  color: #fff;
  -webkit-text-stroke: black;
}
.banner-titles h3 {
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
}

.banner-details {
  flex: 0 0 73%;
}
.banner-count-down {
  flex: 0 0 27%;
}
.banner-img figure:first-of-type {
  overflow: hidden;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  border: 2px solid #ffffff;
}
.banner-img figure img:first-of-type {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-top: 15px;
}

.banner-img figure:last-of-type {
  position: absolute;
  inset: 0;
  left: 169px;
  top: -30px;
  width: 80.89px;
  height: 80.89px;
  border-radius: 50%;
}
.banner-img figure img:last-of-type {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.banner-img-details {
  margin-top: 72px;
  align-items: center;
  max-width: 660px;
  /* background: red; */
  gap: 40px;
  justify-content: space-between;
}
.banner-img {
  position: relative;
}
.b-img-details {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.b-img-details h2 {
  font-size: 32px;
  font-weight: bold;
  line-height: 32px;
  color: #ffffff;
}
.b-img-details h6 {
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;
  color: #ffffff;
}
.b-img-details span {
  font-size: 16px;
  line-height: 21.12px;

  color: #ffffff;
}

.cal-date {
  margin-top: 72px;
  display: inline-block;
  width: 315px;
  display: flex;
  gap: 5px;
  padding: 10px 0;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 24px;
}
.date input {
  border: none;
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;
}
.time input {
  border: none;
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;
}
.date input[type="date"]::-webkit-inner-spin-button,
.date input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  /* -webkit-appearance: none; */
}
.time input[type="time"]::-webkit-inner-spin-button,
.time input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}
.date input {
  width: 109px;
}
.time input {
  width: 88px;
}

.cal-date .time {
  display: flex;

  gap: 12px;
  align-items: center;
}
.cal-date .date {
  display: flex;
  gap: 12px;

  align-items: center;
}
.cal-date img {
  width: 20px;
  height: 20px;
}
.shedule-buttons span {
  display: block;
  background: transparent;
  padding: 16px 24px;
  color: #ffffff;
  font-size: 16px;
  line-height: 16px;
  border: 1px solid #fff;
  border-radius: 24px;
}
.shedule-buttons {
  margin-top: 24px;
  display: flex;
  gap: 24px;
}
.banner-count-down {
  /* background: green; */
}

.countdown {
  display: flex;
  flex-direction: column;
}
.countdown h2 {
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
  color: #ffffff;
}

.col {
  /* width: 1000px; */

  /* border: 1px red solid; */
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.countdown .col div input {
  height: 64px;
  width: 64px;
  border-radius: 5px;
  border-color: transparent;
  background-color: #f26334;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
}
.countdown .col div label {
  font-size: 12px;
  line-height: 12px;
  color: #b8b8b8;
  text-align: center;
}

.registration-form h2 {
  margin-top: 20px;
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 16px;
}
.registration-form h2 span {
  color: red;
}

.registration-form form {
  display: flex;
  flex-direction: column;
}
.registration-form form input {
  margin-bottom: 8px;
  padding: 18px 0;
  padding-left: 18px;
  border-radius: 12px;
}
.registration-form form input:last-of-type {
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;
  color: #ffffff;
  background: #f26334;
}
.registration-form form span {
  margin-top: 8px;
  font-size: 12px;
  line-height: 12px;
  color: #b8b8b8;
  text-align: center;
}

/* curve  */

.flow-session-banner {
  /* background-color: red; */

  text-align: start;
  display: flex;
  justify-content: center;
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 80px;
}
.flow-session-solo-card {
  position: relative;

  padding: 24px;
  max-width: 378px;
  border-radius: 16px;
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.05);
}
.flow-session-solo-card h2 {
  margin: 0;
  padding: 0;
}

.bg-img img {
  width: 159.63px;

  height: 1030.5px;
  object-fit: cover;
}
.flow-session-area {
  text-align: center;
}
.flow-first {
  flex: 0 0 40%;
}
.flow-sec {
  flex: 0 0 40%;
}
.bg-img {
  flex: 0 0 20%;
  margin-inline: 50px;
  margin-top: 80px;
  width: 159.63px;
  height: 1030.5px;
}

.flow-session-solo-card h2 {
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  color: #1f1f1f;
}

.flow-session-solo-card ul {
  margin-top: 16px;
  padding-inline-start: 25px;
}

.flow-session-solo-card li {
  font-size: 16px;
  line-height: 148%;
  color: #5c5c5c;
}

.card-one {
  margin-bottom: 125px;
}
.card-five {
  position: relative;
  margin-top: 98px;
}
.flow-session-solo-card.card-five::after {
  content: "5";
  display: block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: #ffffff;
  background: #f26334;
  font-size: 16px;
  display: flex;
  left: 472px;
  bottom: 80px;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.card-seven {
  position: relative;
  margin-top: 106px;
}

.flow-session-solo-card.card-seven::after {
  content: "7";
  display: block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: #ffffff;
  background: #f26334;
  font-size: 16px;
  display: flex;
  left: 477px;
  bottom: 80px;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.flow-session-solo-card.card-one::after {
  content: "1";
  display: block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: #ffffff;
  background: #f26334;
  font-size: 16px;
  display: flex;
  left: 482px;
  bottom: 80px;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.card-two {
  position: relative;
  margin-top: 124px;
}
.card-three {
  position: relative;
}
.flow-session-solo-card.card-two::after {
  content: "2";
  display: block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: #ffffff;
  background: #f26334;
  font-size: 16px;
  display: flex;
  left: -143px;
  bottom: 80px;

  justify-content: center;
  align-items: center;
  position: absolute;
}
.card-four {
  position: relative;
  margin-top: 78px;
}
.card-six {
  position: relative;
  margin-top: 115px;
}
.card-eight {
  margin-top: 99px;
  position: relative;
}
.flow-session-solo-card.card-eight::after {
  content: "8";
  display: block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: #ffffff;
  background: #f26334;
  font-size: 16px;
  display: flex;
  left: -133px;
  bottom: 80px;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.flow-session-solo-card.card-six::after {
  content: "6";
  display: block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: #ffffff;
  background: #f26334;
  font-size: 16px;
  display: flex;
  left: -138px;
  bottom: 87px;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.flow-session-solo-card.card-four::after {
  content: "4";
  display: block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: #ffffff;
  background: #f26334;
  font-size: 16px;
  display: flex;
  left: -136px;
  bottom: 80px;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.flow-session-solo-card.card-two::after {
  content: "2";
  display: block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: #ffffff;
  background: #f26334;
  font-size: 16px;
  display: flex;
  left: -143px;
  bottom: 80px;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.flow-session-solo-card.card-three::after {
  content: "3";
  display: block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: #ffffff;
  background: #f26334;
  font-size: 16px;
  display: flex;
  left: 477px;
  bottom: 80px;

  justify-content: center;
  align-items: center;
  position: absolute;
}

.dont-miss {
  position: absolute;

  left: -50px;
  bottom: 183px;
}
.dont-miss img {
  width: 100px;
  height: 93.9px;
  object-fit: cover;
}
